@import '../../assets/styles/theme-constants';

.container {
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  button {
    font-size: 16px;
    font-weight: 500;

    border: none;
    background: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: $helsinki-blue;
    border-bottom: 2px solid $helsinki-blue;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .unselected {
    color: $helsinki-black;
    border-bottom: unset;
  }

  .disabled {
    pointer-events: none;
    color: gray;
    border-bottom: unset;
  }
}

.tabContentContainer {
  .unselected {
    display: none;
  }
}

.tabItem {
}
