.container {
  height: 300px;
  margin: 0 1rem 0 0;
  background-color: pink;
  background-size: cover;
  position: relative;
  padding: 2rem;

  h3 {
    color: white;
    position: absolute;
    bottom: 2rem;
  }
}
