@import '../../../styles/partials/variables';
@import '../../../styles/partials/mixins';

.languageButton {
  @include buttonReset;
  margin: $margin/4;
}

.languageButtonEnabled {
  font-weight: $font-width-thick;
}

.languageSwitchTextDark {
  color: black;
}
.languageSwitchTextWhite {
  color: white;
}
