@import '../../../styles/spacings';
@import '../../../styles/mixins';

.languageButton {
  @include buttonReset;
  margin: unit(0.25);
}

.languageButtonEnabled {
  font-weight: 700;
}

.languageSwitchTextDark {
  color: var(--hds-ui-color-black);
}
.languageSwitchTextWhite {
  color: var(--hds-ui-color-white);
}
