@import '../../../styles/icons';
@import '../../../styles/spacings';
@import '../../../styles/mixins';

.markerContent {
  cursor: pointer;
}

.mapControls {
  float: right;
  margin-right: unit(1);
  margin-top: unit(1);

  .mapControlsDivider {
    margin: unit(1);
  }
}

.clusterMarker {
  color: var(--hds-ui-color-white);
  background: var(--hds-brand-color-coat-of-arms-blue);
  border-radius: 50%;
  border-color: var(--hds-ui-color-white);
  padding: 10px;
  @include flex;
  justify-content: center;
  align-items: center;
}
