@import '../../../styles/icons';
@import '../../../styles/partials/variables';

.markerContent {
  cursor: pointer;
}

.mapControls {
  float: right;
  margin-right: $margin;
  margin-top: $margin;

  .mapControlsDivider {
    margin: $margin;
  }
}
