$padding: 1rem;
$margin: 1rem;

$font-size: 16px;
$line-height: 26px;

$font-width-normal: 400;
$font-width-medium: 500;
$font-width-thick: 700;

$root-width: 375px;
$full-width: 100%;
$image-width: 30px;
$search-component-width: 250px;

$vertical-overflow-scrollable: scroll;
$border-bottom-unset: unset;

$menu_height: 6rem;

$pill-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
