$padding: 1rem;
$margin: 1rem;
$font-size: 16px;
$font-width-normal: 400;
$font-width-medium: 500;
$font-width-thick: 700;
$full-width: 100%;
$line-height: 26px;
$image-width: 30px;
$vertical-overflow-scrollable: scroll;

$border-bottom-unset: unset;
