@import '../../styles/mixins';
@import '../../styles/spacings';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: unit(10) 0 unit(2) 0;
  font-size: 14px;
}

.divider {
  border: 0.1px solid rgba(29, 29, 29, 0.2);
  height: 1px;
  width: 346px;
  margin: unit(3) 0;
}

.koros {
  color: var(--hds-ui-color-black-10);
}

.logo {
  @include helsinki-logo(var(--hds-ui-colors-black));
  width: 4rem;
  height: 8rem;
  margin-top: unit(3);
}

.links {
  margin: unit(1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  white-space: nowrap;
}
