@import '../../styles/mixins';
@import '../../styles/spacings';

$content-color: var(--hds-ui-color-white);

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: unit(10);
  font-size: 14px;
  background-color: var(--hds-brand-color-coat-of-arms-blue);
  color: $content-color;
}

.divider {
  border: 0.1px solid $content-color;
  height: 1px;
  width: 346px;
  margin: unit(3) 0;
}

.logo {
  @include helsinki-logo(#fff);
  width: 8rem;
  height: 4rem;
  margin-top: unit(3);
}

.links {
  margin: unit(1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  white-space: nowrap;

  > a {
    color: inherit;
    margin: unit(0.25) 0;
  }
}
