@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

$logo-color: var(--hds-ui-colors-black);
$logo-height: 4rem;
$logo-width: 8rem;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $margin * 10 0 $margin * 2 0;
  font-size: 14px;
}

.divider {
  border: 0.1px solid rgba(29, 29, 29, 0.2);
  height: 1px;
  width: 346px;
  margin: $margin * 3 0;
}

.koros {
  color: var(--hds-ui-color-black-10);
}

.logo {
  @include helsinki-logo($logo-color);
  width: $logo-width;
  height: $logo-height;
  margin-top: $margin * 3;
}

.links {
  margin: $margin;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  white-space: nowrap;
}
