/* stylelint-disable */
@font-face {
  font-family: 'Helsinki Grotesk Regular';
  src: url('../assets/fonts/HelsinkiGrotesk/HelsinkiGrotesk-Regular.otf')
    format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Helsinki Grotesk Bold';
  src: url('../assets/fonts/HelsinkiGrotesk/HelsinkiGrotesk-Bold.otf')
    format('opentype');
  font-weight: 700;
}

$font-primary: sans-serif;
$font-fallback-primary: Helvetica;
$font-fallback-secondary: Arial;
$font-family-primary: 'Helsinki Grotesk Regular';
$font-size-primary: 16px;

/* set base values */
$text-base-size: 1em;
$text-scale-ratio: 1.2;
$text-base-weight: 400;
$text-base-style: normal;
$text-base-align: left;
$text-line-height: 1.5em;

/* see https://css-tricks.com/snippets/css/system-font-stack/ */
$font-family: $font-family-primary, $font-fallback-primary,
  $font-fallback-secondary, $font-primary;

:root {
  font-size: $font-size-primary;
}
