/* stylelint-disable */
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

@import 'external/sanitize';
@import 'external/html5doctor';
@import 'fonts';
@import 'colors';
@import 'typography';

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: var(--hds-theme-primary-font), Arial;

  #root {
    width: 375px;
    height: 100%;
    margin: 0 auto;
    position: relative;
  }
}
