@import '../../../assets/styles/theme-constants';

.container {
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
}

.subheading {
  color: rgb(29, 29, 29);
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
}

.gridItem {
  display: grid;
  grid-template-columns: 30% auto;
  grid-column-gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.bookingUrlContainer {
  margin-top: 3rem;
  margin-bottom: 2rem;
  > a {
    background-color: $helsinki-blue;
    text-decoration: none;
    color: white;
    font-size: 16px;
    line-height: 26px;
  }
}

.bookingUrl {
  grid-column: 2;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}
