@import '../../../styles/partials/mixins';
@import '../../../styles/partials/variables';

$promotion-card-width: 100%;
$promotion-card-height: 338px;

.promotionSection {
  position: relative;
  top: $promotion-card-width * (7 / 10);
  left: 10%;
  width: 80%;
  color: var(--hds-ui-color-white);
  background-color: var(--hds-brand-color-fog);
  padding: $padding * 2 $padding;

  h1,
  h2,
  h3 {
    font-weight: $font-width-thick;
  }

  h1 {
    font-size: 40px;
  }

  p {
    margin: $margin 0;
  }
}

.imageWithCard {
  position: relative;
  width: $promotion-card-width;
  height: $promotion-card-height;
  background-size: $promotion-card-width $promotion-card-height;
  background-repeat: no-repeat;
}

.link {
  @include ahti-link(currentColor);
  font-weight: $font-width-medium;
}
