@import '../../../styles/mixins';
@import '../../../styles/spacings';

$promotion-card-width: 100%;
$promotion-card-height: 338px;

.promotionSection {
  position: relative;
  top: $promotion-card-width * (7 / 10);
  left: 10%;
  width: 80%;
  color: var(--hds-ui-color-white);
  background-color: var(--hds-brand-color-fog);
  padding: unit(2) unit(1);

  h1,
  h2,
  h3 {
    font-weight: 700;
  }

  h1 {
    font-size: 40px;
  }

  p {
    margin-top: unit(1);
    margin-bottom: unit(2);
  }
}

.imageWithCard {
  position: relative;
  width: $promotion-card-width;
  height: $promotion-card-height;
  background-size: $promotion-card-width $promotion-card-height;
  background-repeat: no-repeat;
}

.link {
  @include ahti-link(currentColor);
  font-weight: 500;
}
