@import '../../../styles/icons';

.container {
  background-color: white;

  /* Hide the scrollbar, but keep scrolling enabled */
  overflow-y: scroll;

  /* Firefox */
  scrollbar-width: none;

  /* Internet Explorer 10+ */
  -ms-overflow-style: none;
}

.container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.containerFocused {
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.15);
}

.searchItem {
  display: flex;
  flex-direction: row;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.infoContainer {
  margin-left: 1rem;
}

.name {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}

.nameMark {
  all: unset;
  color: var(--hds-brand-color-coat-of-arms-blue);
}

.address {
  color: var(--hds-ui-color-black-70);
  font-weight: 400;
}

.searchInput {
  width: 100%;
  border: none;
  margin-left: 1rem;
}

.searchInput:focus {
  outline: none;
}

.searchInputWithIcon {
  display: flex;
  flex-direction: row;
}

.infoImage {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.search {
  display: flex;
  flex-direction: row;
}

.resultsContainer {
  margin-top: 1rem;
}
