@import '../../../styles/icons';
@import '../../../styles/partials/variables';
@import '../../../styles/partials/mixins';

.container {
  /* Hide the scrollbar, but keep scrolling enabled */
  overflow-y: $vertical-overflow-scrollable;

  /* Firefox */
  scrollbar-width: none;

  /* Internet Explorer 10+ */
  -ms-overflow-style: none;
  // position: relative;
}

.container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.containerFocused {
}

.searchItem {
  @include flex;
}

.infoContainer {
  @include fullWidth;
  @include flex(column);
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--hds-ui-color-black-10);
  margin-left: $margin;
}

.name {
  font-size: $font-size;
  font-weight: $font-width-thick;
  line-height: $line-height;
}

.nameMark {
  all: unset;
  color: var(--hds-brand-color-coat-of-arms-blue);
}

.address {
  color: var(--hds-ui-color-black-70);
  font-weight: 400;
}

.searchInput {
  // @include fullWidth;
  position: absolute;
  height: 26px;
  top: 0;
  left: 26px;
  width: 100%;
  border-bottom: 3px solid black;
  // margin-left: $margin;
  background-color: var(--hds-ui-color-white);
}

.searchInput:focus {
  outline: none;
}

.searchInputWithIcon {
  @include flex;
  position: relative;
  height: 26px;
}

.searchIcon {
  position: absolute;
  left: 0;
}

.searchIconRight {
  right: 0;
  position: absolute;
  transition: position 2s;
}

.infoImage {
  height: $image-width;
  width: $image-width;
  cursor: pointer;
}

.search {
  // @include flex;
  position: relative;
  height: 26px;
  z-index: 700;
  // flex: 1;
  // background-color: pink;
}

.resultsContainerAbsolute {
  width: $root-width;
  min-height: 100vh;
  position: absolute;
  padding-top: 6rem;
  top: 0;
  left: 0;
}

.resultsContainerRelative {
  position: relative;
  background-color: var(--hds-ui-color-white);
}
