@import '../../../styles/partials/variables';

.container {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.container video {
  width: 100% !important;
  height: auto !important;
  z-index: 0;
}
