@import '../../styles/partials/variables';

$menu-z-index: 1000;

.menu {
  background-color: var(--hds-ui-color-white);
  z-index: $menu-z-index;
}

.search {
  width: $search-component-width;
}

.searchResults {
  width: $search-component-width;
  z-index: $menu-z-index;
}

.subHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: $padding;
}
