@import '../../styles/partials/variables';

.subHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: $padding;
}

.categoryNavigation {
  position: sticky;
  bottom: 0;
  padding: $padding 0;
}

.categoryNavigationListView {
  background-color: var(--hds-ui-color-white);
}

.map {
  position: absolute;
  top: 0;
  left: 0;
}
