@import '../../styles/spacings';

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.subHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: unit(1);
}

.categoryNavigation {
  position: sticky;
  bottom: 0;
  padding: unit(1) 0;
}

.categoryNavigationListView {
  background-color: var(--hds-ui-color-white);
}

.mapContainer {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
}

.spinner {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listView {
  padding: unit(1);
}
