@import '../../../styles/spacings';
@import '../../../styles/mixins';
@import '../../../styles/z-index';
@import '../../../styles/icons';

.container {
  width: 100%;
  background-color: transparent;
  &.dark {
    .menuIcon {
      color: var(--hds-ui-color-black);
    }
    .logo {
      @include helsinki-logo(#000);
    }
  }
  z-index: z-index(menu);
}

.containerOpen {
  width: 100%;
  background-color: var(--hds-ui-color-white);
}

.headerContainer {
  @include flex;
  background: transparent;
  justify-content: space-between;
  align-items: flex-start;
  padding: unit(1);
}

.navLink {
  text-decoration: none;
  color: var(--hds-ui-color-black);
}

.navLinkDisabled {
  @include disabledLink;
  color: var(--hds-ui-color-black-40);
}

.navDropdownContent {
  @include flex(column);
  align-items: flex-start;
}

.menuToggles {
  @include flex;
}

.toggleMenuButton {
  margin-left: unit(0.5);
}

.logo {
  @include helsinki-logo(#fff);
  width: 4rem;
  height: 2rem;
}

.menuIcon {
  color: var(--hds-ui-color-white);
}

.menuContentWrapper {
  position: relative;
}

.menuContent {
  padding: 0 unit(1) unit(1);
  background-color: var(--hds-ui-color-white);
  box-shadow: 0 12px 12px -12px var(--hds-ui-color-black);
}
