@import '../../../styles/partials/variables';
@import '../../../styles/partials/mixins';

$menu-z-index: 1000;

.container {
  width: 100%;
  padding: $padding;
  height: $menu_height;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: $menu-z-index;
}

.containerOpen {
  padding: $padding;
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  background-color: var(--hds-ui-color-white);
  z-index: $menu-z-index;
}

.search {
  width: $search-component-width;
}

.searchResults {
  width: $search-component-width;
  z-index: $menu-z-index;
}

.headerContainer {
  @include flex;
  justify-content: space-between;
  padding-top: $padding;
  padding-bottom: $padding;
  background: transparent;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: $padding;
  padding-bottom: $padding;
  background: transparent;
  align-items: flex-start;
}

.navLink {
  text-decoration: none;
  line-height: $line-height;
  color: var(--hds-ui-color-black);
}

.navLinkDisabled {
  @include disabledLink;
  color: var(--hds-ui-color-black-40);
}

.navDropdownContent {
  @include flex(true);
}

.menuElement {
  position: relative;
  flex: 1;
  z-index: 200;
}

.menuElementLang {
  position: relative;
  flex: 2;
  z-index: 200;

  > div {
    width: 100%;
    padding: 0;
    height: 26px;
  }
}

.toggleMenuButton {
  position: absolute;
  right: 0;
}

.menuElementFront {
  flex: 3;
  z-index: 8;
}
