@import '../../../styles/spacings';
@import '../../../styles/mixins';

.cardTextContainer {
  width: 100%;
  box-sizing: border-box;
  padding: 0 unit(1) unit(0.5);
  min-height: 30vh;
  background-color: var(--hds-ui-color-white);
  color: var(--hds-ui-color-black);
}

.cardContainer {
  width: 100%;
  box-sizing: border-box;
  background-color: var(--hds-ui-color-white);
}

.nameHeading {
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
  margin: unit(0.5) 0;
}

.addressHeading {
  font-weight: 400;
}

.tagsContainer {
  color: var(--hds-brand-color-coat-of-arms-blue);
  margin-top: 10px;
  margin-bottom: 10px;
}

.tagsContainerSpan {
  font-size: 14px;
  font-weight: 700;
  margin-right: 5px;
  cursor: pointer;
}

.tabContainer {
  display: flex;
  justify-content: space-between;
}
