@import '../../../../styles/spacings';
@import '../../../../styles/mixins';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: unit(1) 0;

  @include vertical-margin-between(cardLink, unit(0.5));
}

.heading {
  font-size: var(--hds-text-lg);
  font-weight: 700;
  margin-bottom: unit(1);
}
