@import '../../../../styles/partials/variables';
@import '../../../../styles/partials/mixins';

.descriptionContainer {
  max-height: 200px;
  overflow: hidden;
}

.descriptionContainerOpen {
  max-height: unset;
  overflow: unset;
}

.showMoreButton {
  @include buttonReset;
  color: var(--hds-brand-color-coat-of-arms-blue);
  font-size: 14px;
  line-height: $line-height;
  font-weight: $font-width-thick;

  &::after {
    font-size: 120%;
    content: ' ▼';
  }
}

.showLess {
  &::after {
    font-size: 120%;
    content: ' ▲';
  }
}
