@import '../../../../styles/icons';

$slideHeight: 20rem;

.container {
  position: relative;
}

.slideContainer {
  box-shadow: inset 0 40px 40px -40px var(--hds-ui-color-black);
  height: $slideHeight;
  width: 100%;
}

.copyrightOwner {
  color: var(--hds-ui-color-white);
  font-size: 12px;
  float: right;
}

.dotsContainer {
  position: absolute;
  top: 0;
}

.dots {
  display: flex;
  flex-direction: row;
}

.dot {
  border: 2px solid var(--hds-ui-color-white);
  height: $small-icon-height;
  width: $small-icon-width;
  border-radius: $small-icon-width / 2;
  margin: $small-icon-width / 4;
}

.dotEnabled {
  background-color: var(--hds-ui-color-white);
}

.koros {
  position: absolute;
  color: white;
  bottom: 0;
  height: 1rem;
  rect {
    height: 1rem;
  }
}
