@import '../../../../styles/icons';

$slideHeight: 20rem;
$dotShadow: 6px;
$dotShadowEnabled: $dotShadow * 2;

.slideContainer {
  height: $slideHeight;
  width: 100%;
}

.copyrightOwner {
  color: var(--hds-ui-color-white);
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 12px;
}

.dotsContainer {
  position: absolute;
  width: 0;
  height: 0;
}

.dots {
  position: relative;
  bottom: $slideHeight - 0.5rem;
  left: 0.5rem;
  display: flex;
  flex-direction: row;
}

.dot {
  background-color: var(--hds-ui-color-black-60);
  height: $small-icon-height;
  width: $small-icon-width;
  border-radius: $small-icon-width / 2;
  box-shadow: 0 0 $dotShadow 0 var(--hds-ui-color-black-60);
  margin: $small-icon-width / 4;
}

.dotEnabled {
  background-color: var(--hds-brand-color-coat-of-arms-blue);
  box-shadow: 0 0 $dotShadowEnabled 0 var(--hds-brand-color-coat-of-arms-blue);
}
