@import '../../../../styles/icons';
@import '../../../../styles/spacings';

.container {
  font-size: 14px;
}

.subheading {
  color: rgb(29, 29, 29);
  font-weight: 700;
}

.gridItem {
  display: grid;
  grid-template-columns: 30% auto;
  grid-column-gap: 2rem;
  margin: unit(1);
}

.urlContainer {
  margin-top: unit(3);
  margin-bottom: unit(2);
  color: var(--hds-ui-color-white);
}

.url {
  grid-column: 2;
  display: flex;
  justify-content: center;
  padding: unit(0.5);
  background-color: var(--hds-brand-color-coat-of-arms-blue);
  color: var(--hds-ui-color-white);
  text-decoration: none;
}

.infoLink {
  word-break: break-all;
  color: inherit;
}

.line {
  margin: unit(1) 0;
  border-color: var(--hds-ui-color-black);
}

.sourceInfoContainer {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.iconContainer {
  display: flex;
  align-items: center;
  word-break: break-all;
}

.infoIcon {
  @extend .icon;
  margin-right: unit(1);
}
