@import '../../../../styles/icons';
@import '../../../../styles/partials/variables';

.container {
  font-size: 14px;
  font-weight: $font-width-normal;
  line-height: $line-height;
}

.bodyText {
  font-size: 14px;
  line-height: $line-height;
  white-space: pre-line;
}

.subheading {
  color: rgb(29, 29, 29);
  font-size: $font-size;
  font-weight: $font-width-thick;
  line-height: $line-height;
}

.gridItem {
  display: grid;
  grid-template-columns: 30% auto;
  grid-column-gap: 2rem;
  margin-top: $margin;
  margin-bottom: $margin;
}

.bookingUrlContainer {
  margin-top: $margin * 3;
  margin-bottom: $margin * 2;
  color: var(--hds-ui-color-white);
}

.bookingUrl {
  grid-column: 2;
  display: flex;
  justify-content: center;
  padding: $padding/2;
  background-color: var(--hds-brand-color-coat-of-arms-blue);
  color: var(--hds-ui-color-white);
  text-decoration: none;
  font-size: $font-size;
  line-height: $line-height;
}

.infoLink {
  word-break: break-all;
  color: inherit;
}

.line {
  margin: $margin 0;
  border-color: var(--hds-ui-color-black);
}

.sourceInfoContainer {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: $line-height;
}

.iconContainer {
  display: flex;
  align-items: center;
  word-break: break-all;
}

.infoIcon {
  @extend .icon;
  margin-right: $margin;
}
