@import '../../../styles/icons';
@import '../../../styles/partials/variables';
@import '../../../styles/partials/mixins';

.container {
  display: flex;
  @include margin-between(toggle, $small-icon-width / 4);
}

.toggle {
  display: flex;
  align-items: center;
  background-color: var(--hds-ui-color-white);
  border-radius: $small-icon-height * 2;
  padding: $small-icon-height / 4 $small-icon-height / 2;
}

.toggleOn {
  background-color: var(--hds-brand-color-fog);
}

.iconContainer {
  display: inline-flex;
  width: $small-icon-width;
  height: $small-icon-height;
}

.text {
  margin-left: $small-icon-width / 2;
  font-size: $small-icon-width;
  font-weight: $font-width-thick;
  white-space: nowrap;
}
