@import '../../styles/spacings';
@import '../../styles/mixins';

.pageContainer {
  position: relative;
  background-color: var(--hds-ui-color-white);
}

.section {
  background-color: var(--hds-ui-color-white);
  margin: unit(4) 0;
  padding: unit(1);
  position: relative;

  p {
    margin: unit(1) 0;
  }
}

.imageWithCardSection {
  color: var(--hds-ui-color-white);
  background-color: transparent;

  h1,
  h2,
  h3 {
    font-weight: 700;
  }

  h1 {
    font-size: 40px;
  }
}

.link {
  @include ahti-link(currentColor);
  font-weight: 500;
}

.listSpinner {
  margin: unit(2);
}

.slide {
  height: 250px;
  box-shadow: inset 0 0 250px / 2 var(--hds-ui-color-black-90);
  margin: unit(0.25);
  background-size: cover;
  background-position: center;
  padding: unit(1);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  p {
    hyphens: auto;
    font-weight: 700;
    color: var(--hds-ui-color-white);
  }
}
