@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

$koros-margin: -5rem;

.pageContainer {
  position: relative;
  background-color: var(--hds-ui-color-white);
}

.section {
  background-color: var(--hds-ui-color-white);
  margin: $margin * 4 0;
  padding: $padding;
  position: relative;
  z-index: 10;

  p {
    margin: $margin 0;
  }
}

.imageWithCardSection {
  color: var(--hds-ui-color-white);
  background-color: transparent;

  h1,
  h2,
  h3 {
    font-weight: $font-width-thick;
  }

  h1 {
    font-size: 40px;
  }
}

.link {
  @include ahti-link(currentColor);
  font-weight: $font-width-medium;
}
