@font-face {
  font-family: 'Helsinki Grotesk Regular';
  src: url('../fonts/HelsinkiGrotesk/HelsinkiGrotesk-Regular.otf')
    format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Helsinki Grotesk Bold';
  src: url('../fonts/HelsinkiGrotesk/HelsinkiGrotesk-Bold.otf')
    format('opentype');
  font-weight: 700;
}
