$desktop-min-width: 1200px;
$desktop-min-height: 600px;

$secondary-color: white;
$primary-color: red;
$border-color: #ccc;

$fonts-font-family-regular: 'Helsinki Grotesk Regular';
$fonts-font-family-bold: 'Helsinki Grotesk Bold';

$colors-transparent: transparent;
$colors-white: #FFFFFF;
$colors-black: #001A33;
$colors-pink: #FADCE8;
$colors-lightGray: #E9EFF3;
$colors-lightYellow: #FCEA82;

$borders-buttonBorder: 2px solid #001A33;
$shadows-menu-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$gradients-block-gradient: linear-gradient(360deg, #DEE7ED 0%, rgba(255, 255, 255, 0) 99.98%, rgba(255, 255, 255, 0) 100%);;
$gradients-vertical-block-gradient: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 18.55%);;
