@import '~hds-core/lib/helsinki.css';

%button-shared {
  margin: 0.5rem;
  border-style: solid;
  border-width: 2px;
  border-color: var(--hds-ui-color-black);
  padding: 0.5rem 1rem;
  font-size: var(--hds-text-md);
}

%blue-button {
  @extend %button-shared;
  background: #2c70c3; /* no comparable color in hds at present */
  color: var(--hds-ui-color-white);
}

%red-button {
  @extend %button-shared;
  background: var(--hds-ui-color-error);
  color: var(--hds-ui-color-white);
}

.container {
  width: 100%;
  height: 100%;
  z-index: 6000;
  position: absolute;
  background-color: var(--hds-ui-color-white);
  padding: 1rem;

  /* Hide the scrollbar, but keep scrolling enabled */
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  ::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 1rem;

  img {
    cursor: pointer;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.filterTitle {
  font-size: var(--hds-text-lg);
}

.filterType {
  font-size: var(--hds-text-sm);
}

.optionContainer {
  margin-top: 1rem;
  justify-content: flex-start;
  overflow-y: scroll;

  button {
    @extend %button-shared;
  }

  .activeButton {
    @extend %blue-button;
    svg {
      margin-right: 0.25rem;
      fill: white;
      width: var(--hds-text-md);
      height: var(--hds-text-md);
    }
  }
}

.filterOptionContainer {
  border-top-style: solid;
  border-top-width: 1.5px;
  border-top-color: var(--hds-ui-color-black-10);
  padding: 1rem;
}

.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: var(--hds-ui-color-black-10);
}

%footer-button-shared {
  @extend %button-shared;
  border: none;
}

.clearButton {
  @extend %footer-button-shared;
}

.showButton {
  @extend %footer-button-shared;
  @extend %blue-button;
}

.showButtonDisabled {
  @extend %footer-button-shared;
  @extend %red-button;
}
