@import '../../../styles/spacings';
@import '../../../styles/mixins';
@import '../../../styles/z-index';

.container {
  position: absolute;
}

$koros-margin: -1rem;

.korosContainer {
  height: 0;
  position: relative;
  // Apply margin to lifted koros
  margin-bottom: $koros-margin + 1rem;
}

.koros {
  position: absolute;
  // Lift the koros to cover the hero image
  top: $koros-margin;
  left: 0;
  right: 0;
  color: var(--hds-ui-color-white);
}

.section {
  position: relative;
  z-index: 10;
  margin: unit(5) unit(1);

  p {
    margin: unit(1) 0;
  }
}

.imageWithCardSection {
  color: var(--hds-ui-color-white);
  background-color: transparent;
}

.imageWithCard {
  width: 100%;
  height: 496px;
  background-repeat: no-repeat;
  background-size: 100% 496px;
}

.topImageWithCard {
  padding: 90px unit(1);
}

.link {
  @include ahti-link(currentColor);
}
