@import '../../assets/styles/layout';

.geolocateControls {

    .geolocateControlsDivider {
        margin: 1rem;
    }

    @include respond-above(lg) {
        float: right;
        margin-right: 2rem;
        margin-top: 2rem;
    }

    @include respond-below(lg) {
        float: left;
        margin-left: 3.5rem;
        margin-top: 8rem;
    }
}
