@import '../../assets/styles/layout';

.geolocateControls {
    position: absolute;

    .geolocateControlsDivider {
        margin: 1rem;
    }

    @include respond-above(lg) {
        float: right;
        left: unset;
        right: 2rem;
        top: 2rem;
    }

    @include respond-below(lg) {
        float: left;
        right: unset;
        left: 3.5rem;
        top: 8rem;
    }
}
