.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  > div {
    margin: 0 5px;
  }

  > div:first-of-type {
    margin-left: 0;
  }

  > div:last-of-type {
    margin-right: 0;
  }
}
