@import '../../../styles/icons';
@import '../../../styles/partials/variables';

.pill {
  display: flex;
  flex-direction: row;
  background-color: var(--hds-brand-color-fog);
  padding: 0 5px;
  border-radius: 20px;
  align-items: center;
  margin: 1rem;
  box-shadow: $pill-box-shadow;
}

.text {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 10px;
}
