@import '../../../styles/icons';

.pill {
  display: flex;
  flex-direction: row;
  background-color: var(--hds-brand-color-fog);
  padding: 0 5px;
  border-radius: 20px;
  align-items: center;
  margin: 1rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.text {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 10px;
}
