@import '../../assets/styles/theme-constants';

.container {
  display: grid;
  grid-template-columns: 56px auto 24px;
  grid-row-gap: 1rem;

  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid $helsinki-gray;
  border-bottom: 1px solid $helsinki-gray;
}

.icon {
  width: 24px;
  height: 24px;
}

.headerContainer {
  display: grid;
  grid-template-columns: 56px auto 24px;

  grid-column: 1 / -1;

  cursor: pointer;

  font-size: 16px;
  line-height: 26px;
  color: $helsinki-black;

  h1 {
    font-weight: normal;
  }
}

.childrenContainer {
  grid-column: 2 / 2;
}

.angleIconOpen {
  transform: rotate(-90deg);
}

.angleIconClosed {
  transform: rotate(90deg);
}
